<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="static/css/style.css" rel="stylesheet">
    <title>Project 8</title>
</head>
<body>
    <main> 
        <!-- 제목 부분 -->
        <div class="test1">마음마중물: Coloring Book</div>
    <svg height="100" width="100">
        <circle class="absolute l-[469px] t-[235px]" cx="50" cy="50" r="40" stroke="#D0E6A5" stroke-width="3" fill="#D0E6A5" />
    </svg>
    <br> 
    <svg height="100" width="100">
        <circle class="circle2" cx="30" cy="30" r="18" stroke="#FAB9B0" stroke-width="3" fill="#FAB9B0" />
    </svg>
    <br> 
    <div class="paragraph" id="about" style="width: 45%">
        본 프로젝트는 상담전문가와 내담자의 rapport 빌드업을 위한 획기적인 방법을 제시하고자 함.
        상담에서 그림, art therapy는 상담의 진행 자체가 힘든 초반 rapport 형성에 효과적으로 사용된다. (내담자가 말하기를 거부하거나 눈을 안 마주치는 등의 상황)
        상담전문가가 내담자에게 가볍게 질문하며 이야기를 끌어내듯 시작. 질문지를 제공해 개별 내담자에게 맞춤형으로 컬러링 도안을 제공.    
        내담자는 컬러링 및 원하는 그림을 추가로 그려넣으며 상담전문가와 대화할 수 있음. 자신의 이야기가 담긴 컬러링 도안은 내담자의 자발적인 자기 표현을 고취할 것으로 기대됨.  
        또한 상담이 어느 정도 진행된 후 다시 컬러링을 진행한다면 내담자의 심경 변화, 상담의 효과를 확인할 수 있는 지표로도 사용될 수 있음.
    </div>

    <!-- 노션 제출용 -->
    <button class="button4 absolute l-[800px] t-[200px]">
        <a href='/proving'>검증 방안</a> 
        <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
            <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
        </svg>
    </button>

    <button class="button4 absolute l-[800px] t-[240px]">
        <a href="Export-888f9724-4f2d-4d06-b393-8c6ac7c0e398/[과제3] 데이터 분석 (EDA) 결과 제출 6ecb4149330f4d99a37681c4e841e9d2.html">데이터 분석</a> 
        <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
            <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
        </svg>
    </button>

    <!-- 원 애니메이션 추가 -->
    <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
    </div>
    <br>

    <button class="button1 absolute l-[240px] t-[430px]"><a href='/texttoimage'>TEXT</a> 
    </button>
    <br>
    <button class="button2 absolute l-[480px] t-[430px]"><a href='/imagetoimage'>IMAGE</a>
    </button>
    <svg width="136" height="136" viewBox="0 0 136 136" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle class="absolute l-[383px] t-[791px]" cx="68" cy="68" r="68" fill="#FFEBBF"/>
    </svg>
    <br> 
    <div class="relative l-[383px] t-[70px]">
        <svg width="153" height="131" viewBox="0 0 153 131" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="76.5" cy="76.5" r="76.5" fill="#CCABDA"/>
        </svg>    
    </div>    
    </main>

</body>
<footer class="test3 absolute l-[1100px]"> 
    <br>
    <br>
    <br>
    해당 프로젝트는 고려대학교 심리학과 최기홍 교수님의 자문을 받았습니다. 
</footer>
</html>